.container {
  display: flex;
  margin: 0;
}
/* lefft */

.left {
  color: rgba(0, 0, 0, 1);
  position: relative;
  overflow-y: scroll;
  height: 100vh;
  width: 24rem;
}

.lefttitle {
  color: black;
  position: sticky;
  top: 0;
  background: white;
  padding: 60px 0px 30px 0px;
}

.title{
  text-align: center;
  font-size: 35px;
  line-height: 41px;
}

.addbtn {
  width: 93px;
  height: 93px;
  font-size: 70px;
  background-color: rgba(22, 0, 139, 1);
  border-radius: 50%;
  color: rgba(255, 255, 255, 1);
  border: none;
  letter-spacing: 0.02em;
  position: sticky;
  float: right;
  top: 79%;
  margin-left: -116px;
  margin-right: 20px;
  cursor: pointer;
}

.grouplist {
  padding-bottom: 20px;
}

.left::-webkit-scrollbar {
  width: 10px;
  background-color: white;
  border-radius: 5px;
}

.left::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 5px;
}

.left::-webkit-scrollbar-track-piece {
  background-color: #ccc;
}

.left::-webkit-scrollbar-track-piece:start {
  background-color: #ccc;
  border-radius: 5px;
  margin-top: 135px;
}

body {
  overflow: hidden;
}

/* right part */
.right {
  flex: 3;
  color: black;
  background-color: rgba(218, 229, 245, 1);
  text-align: center;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
}
.emptystate {
  width: 60%;
  gap: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  justify-content: center;
  height: 100%;
}

.right img {
  width: 100%;
  max-width: 450px;
  height: 250px;
}

.righttitle {
  font-size: 50px;
  line-height: 58px;
  letter-spacing: 0.02em;
}

.rightmessage {
  font-size: 22px;
  line-height: 32px;
  letter-spacing: 0.02em;
  color: rgba(41, 41, 41, 1);
}

.footer {
  position: absolute;
  bottom: 10px;
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 22px;
  line-height: 32px;
  letter-spacing: 0.02em;
}

.search {
  margin: 0px 30px 0px 68px;
  border: 2px solid grey;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

.searchInput {
  border: none;
  font-size: 17px;
  width: 90%;
  padding: 0px 15px;
  height: 100%;
  border-radius: 25px;
}

.searchInput:focus {
  outline: none;
}

.searchIcon {
  font-size: 8px;
  width: 12%;
  background: grey;
  height: 100%;
  color: white;
}

.searchContainer{
  position: relative;
  margin-top: 40px;
}

.searchResult{
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.25);
  max-height: 269px;
  overflow: auto;
  width: 74%;
  left: 19%;
  position: absolute;
  background: white;
  z-index: 1;
  border-radius: 10px;
  top: 124%;
  padding: 10px;
}

.list{
  height: 40px;
  height: 90%;
  word-break: break-all;
  cursor: pointer;
  padding: 10px 10px;
  color: blue;
}

@media screen and (max-width: 600px) {
  .displaynone {
    display: none;
  }
  .left {
    width: 100%;
  }

  .right {
    width: 100%;
  }

  .lefttitle {
    font-size: 31.52px;
    line-height: 36.94px;
    display: block;
    padding-left: 30px;
  }
  .addbtn {
    width: 75px;
    height: 75px;
    font-size: 40px;
    line-height: 39.08px;
  }
  .emptystate {
    display: none;
  }
}
