.title {
  font-size: 29px;
  line-height: 47px;
}

.name {
  font-size: 27px;
  margin-right: 30px;
  white-space: nowrap;
}

.input {
  border: 2px solid rgba(204, 204, 204, 1);
  border-radius: 22px;
  width: 100%;
  padding: 5px 20px;
  font-size: 23px;
  color: rgba(151, 151, 151, 1);
}

.colorinput {
  display: flex;
  gap: 15px;
  margin: 30px 0px;
  align-items: center;
}

.coloroption {
  border-radius: 50%;
  cursor: pointer;
}

.normalsize{
    width: 40px;
    height: 40px;
}

.increasesize{
    width: 50px !important;
    height: 50px !important;
}

.submit {
  background: rgba(0, 31, 139, 1);
  color: rgba(255, 255, 255, 1);
  font-size: 20px;
  border-radius: 11px;
  padding: 3px 40px;
  display: flex;
  margin-left: auto;
  border: none;
}

.grouperror{
    font-size: 20px;
}

@media screen and (max-width: 600px) {
  .title {
    font-size: 18px;
  }
  .name {
    font-size: 17px;
    margin-right: 20px;
  }

  .colorinput {
    gap: 8px;
    margin: 30px 0px;
  }

  .normalsize{
    width: 17px;
    height: 17px;
  }

  .increasesize{
    width: 23px !important;
    height: 23px !important;
}

  .input{
    padding: 3px 20px;
    font-size: 15px;
  }

  .submit{
    font-size: 17px;
    width: 80%;
    margin: auto;
    align-items: center;
    justify-content: center
  }

  .grouperror{
    font-size: 15px;
}

}
