.container{
    display: flex;
    align-items: center;
    padding: 0px 30px;
    cursor: pointer;
}

.container:hover{
    background-color: rgba(47, 47, 47, 0.17);
}

.name{
    width: 150px;
   font-size: 24px;
   letter-spacing: 0.02em;
   white-space: nowrap; 
   overflow: hidden; 
   text-overflow: ellipsis; 
}

.profile{
    width: 68px;
    height: 68px;
    border-radius: 50%;
    font-size: 24px;
    line-height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px 30px 15px 30px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: white;
}